<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_head %>
</head>
<body style="padding-left: 15px">
    <header>
        <% include ./partials/_header %>
    </header>
    <table class="table" style="margin-top: 20px">
      <% for (let url in urls) { %>
      <tr>
        <td><a href="<%= urls[url][url] %>"><%= urls[url][url] %></a></td>
        <td><a href="/u/<%= url %>"><%= url %></a></td>
        <td>
          <a href="/urls/<%= url%>"> Edit</a>
        </td>
        <td>
          <form method="POST" action="/urls/<%= url%>/delete">
            <input type="submit" value="delete">
          </form>
        </td>
      </tr>
      <% } %>
    </table>

    <a href="/urls/new"> Shorten you url here </a>
</body>
</html>
