<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
  </head>
  <body style="padding-left: 15px">
    <header>
        <% include ./partials/_header %>
    </header>
    <table class="table">
      <tr>
        <th> ShortURL </th>
        <th> Visits </th>
        <th> Unique visitors </th>
      </tr>
      <tr>
        <td><%= shortURL %></td>
        <td><%= url.visits %></td>
        <td><%= url.uniqueVisits %></td>
      </tr>
    </table>
    <h3> Statistics for this url </h3>
    <table class="table">
      <tr>
        <th> User ID </th>
        <th class="text-center"> Uniquevisit</th>
        <th> Timestamp</th>
      </tr>
      <% for (let visit of url.record) { %>
      <tr>
        <td> <%= visit.id %></td>
        <% if (visit.unique) { %>
        <td class="text-center"> &#10003 </td>
      <% } else { %>
        <td> </td>
      <% } %>
        <td><%= visit.timestamp.toLocaleString() %></td>
      <% } %>
      </tr>
    </table>
    <table>
      <form action="/urls/<%= shortURL%>?_method=PUT" method="POST">
        <input id="URL" type="text" name="update" value="<%= url.shortURL%>" style="width: 300px">
        <input type="submit" value="Update" style="margin-left
        : 10px">
      </form>
      <form method="POST" action="/urls/<%= shortURL%>/delete?_method=DELETE">
        <input type="submit" value="Delete" style="margin-left
        : 10px">
      </form>
    </table>
  </body>
</html>
